body {
  padding-top: 70px;
  padding-bottom: 30px;
}

canvas { background: #aee; display: block; margin: 0 auto; }

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
